.event-image {
    height: 100px;
}

a {
    cursor: pointer;
    color: white;
}

a:hover {
    color: #925721;
    text-decoration: none;
}

a > h3 {
    font-size: large;
}
.bottom-margin {
    margin-bottom: 10px;
}

.flex-direction-column {
    flex-direction: column;
}