<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> ${{event?.price}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr>

  <div class="row bottom-margin">
    <div class="col-md-2">
      <a *ngIf="!addMode" (click)="addSession()"><h3> Add Session</h3></a>
      <a *ngIf="addMode" (click)="addSession()"><h3 style="color: #925721;"> Add Session</h3></a>
    </div>
    <div class="col-md-2">
      <a *ngIf="!addMode" (click)="sessionsList()"><h3 style="color: #925721;">Sessions list</h3></a>
      <a *ngIf="addMode" (click)="sessionsList()"><h3>Sessions list</h3></a>
    </div>
  </div>

  <session-list *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
  <create-session *ngIf="addMode" (saveSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></create-session>
</div>